
    body {background-color: black;}
    text {font-family:Verdana; font-size:35; font-weight: bold;}

      h2    {color: white;    text-align: center;     font: 20px arial, sans-serif; font-weight: bold;}
      h1    {color: white;    text-align: center;     font: 50px arial, sans-serif; font-weight: bold;}
      p     {color: white;    text-align: center;     font: 15px arial, sans-serif;}

